.register-form {
    display: flex;
    justify-content: space-between;
  }
  
  .form-column {
    width: 48%; /* Adjust as needed to control the column width */
    padding: 10px;
    box-sizing: border-box;
  }